{include file="/pubulic/header"}
{include file="/pubulic/body-header"}


{include file="/pubulic/menu"}
<form action="" method="post" class="form form-horizontal" id="form-goods-add" enctype="multipart/form-data">
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 评论管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

    <div class="Hui-article">
        <article class="cl pd-20">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="l">
                    <input class="btn btn-danger radius" type="button" name="submit" id="submit"  value="批量删除" onclick="alldel();">
                    <a href="javascript:;" onclick="unDelete()" class="btn btn-danger radius"> 批量恢复</a>
                    <input style="height: 28px; width: 200px; margin: 0 0 0 50px" name="inputs" type="text" placeholder="..."/>
                     <input type="text" name="firstdate" onfocus="WdatePicker()" id="logmin" class="input-text Wdate" style="width:120px;">
			<input type="text" name="lastdate" onfocus="WdatePicker()" id="logmax" class="input-text Wdate" style="width:120px;">
  <a  class="btn btn-danger radius" title="查找" href="javascript:;" onclick="select('查找','/index/comment/selects','1320','700')" class="ml-5" style="text-decoration:none">查找</a>
     </span>
                <span class="r">共有数据：<strong>{$count}</strong> 条
                </span>
            </div>
            <div class="mt-10">
                <table class="table table-border table-bordered table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="" value=""></th>
                        <th>ID</th>
                        <th>会员id</th>
                        <th>会员名</th>
                        <th>商品id</th>
                        <th>商品名</th>
                        <th>评论</th>
                        <th>星级</th>
                        <th>创建时间</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="data" id="pp"}
                    <tr class="text-c">
                        <td><input name="delete_id[]" type="checkbox" value="{$pp.id}"></td>
                        <td>{$pp.id}</td>
                        <td>{$pp.member_id}</td>
                        <td>{$pp.username}</td>
                        <td>{$pp.goods_id}</td>
                        <td>{$pp.goodsname}</td>
                        <td>{$pp.content}</td>
                        <td>{$pp.score}</td>
                        <td>{$pp.create_time}</td>
                        <td class="td-manage">

                            <a style="text-decoration:none" class="ml-5" onClick="brand_del(this,'{$pp.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>

</section>
</form>
{include file="/pubulic/js"}
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
        ]
    });
    function member_add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    function brand_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.get("{:url('comment/delete')}",{id:id});
            $(obj).parents("tr").remove();
            layer.msg('已删除!',{icon:1,time:1000});
        });
    }
    function unDelete() {
        layer.confirm('确认要恢复吗？', function () {
            $.get("{:url('brand/unDelete')}");

            layer.msg('已恢复!', {icon: 1, time: 1000}); //消息弹层1秒后消失
            window.location.reload(); //重新加载页面,显示所有数据
        });
    }
    function member_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    function alldel(){
        var form = new FormData(document.getElementById("form-goods-add"));
        $.ajax({
            type: "POST",
            url: "{:url('comment/alldelete')}",
            processData:false,
            contentType:false,
            data:form,
            dataType: "json",
            success: function(data){
                if (data.status == 1) {
                    alert(data.message);
                    window.parent.location.reload(); //刷新父页面
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);  // 关闭layer
                } else {
                    alert(data.message);

                }
            }
        });
    }
    function select(title,url,w,h){
        var inputs=$("[name='inputs']").val();
        var lastdate=$("[name='lastdate']").val();
        var firstdate=$("[name='firstdate']").val();
        if(inputs!=""){
            url=url+"/inputs/"+inputs;
        }
        if(firstdate!=""){
            url=url+"/firstdate/"+firstdate;
        }
        if(lastdate!=""){
            url=url+"/lastdate/"+lastdate;
        }
        layer_show(title,url,w,h);
    }
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>