{include file="/pubulic/header"}
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		<input type="hidden" value="{$id}" name="id">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="password" name="password">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="password" class="input-text" value="" placeholder="" id="password1" name="password1">
			</div>
		</div>
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-3">附件：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">-->
				<!--<input class="input-text upload-url" type="text" name="uploadfile" id="uploadfile" readonly nullmsg="请添加附件！" style="width:200px">-->
				<!--<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>-->
				<!--<input type="file" multiple name="file-2" class="input-file">-->
				<!--</span> </div>-->
		<!--</div>-->
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-3">所在城市：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">-->
				<!--<select class="select" size="1" name="city">-->
					<!--<option value="" selected>请选择城市</option>-->
					<!--<option value="1">北京</option>-->
					<!--<option value="2">上海</option>-->
					<!--<option value="3">广州</option>-->
				<!--</select>-->
				<!--</span> </div>-->
		<!--</div>-->
		<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-3">备注：</label>-->
			<!--<div class="formControls col-xs-8 col-sm-9">-->
				<!--<textarea name="beizhu" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入10个字符" onKeyUp="textarealength(this,100)"></textarea>-->
				<!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>-->
			<!--</div>-->
		<!--</div>-->
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="button" name="submit" id="submit" value="&nbsp;&nbsp;修改&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

{include file="/pubulic/js"}
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});

	$("#form-member-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:16
			},
			sex:{
				required:true,
			},
			phone:{
				required:true,
				isMobile:true,
			},
			email:{
				required:true,
				email:true,
			},


		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});


});

$("#submit").on("click", function(event){
	$.ajax({
		type: "POST",
		url: "{:url('member/edit_password')}",
		data: $("#form-member-add").serialize(),
		dataType: "json",
		success: function(data){
			if (data.status == 1) {
				alert(data.message);
				window.parent.location.reload(); //刷新父页面
				var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
				parent.layer.close(index);  // 关闭layer
			} else {
				alert(data.message);

			}
		}
	});

})
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>